body{
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.prediction-container{
    margin-top: 20px;
}

.prediction-title{
    text-align: center;
}

.items-container{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 0 auto;
    margin-top: 10px;
    flex-wrap: wrap;

}

.item{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
}

.searched-before{
    display: flex;
    flex-direction: row;
}

.searched-before-title{
    margin-right: 10px;
}

.time{
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
}
.time-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.deactive{
    display: none;
}

.error-message{
    color: red;
}

.searched-before-item{
    cursor: pointer;
}

.searched-before-item:hover{
    color: rgb(97, 154, 228);
}


.admin-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}